<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Ma banque</title>
</head>
<body>
<header>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/operation}">Operations</a></li>
                <li><a th:href="@{/comptes}">Comptes</a></li>
                <li><a th:href="@{/clients}">Clients</a></li>
            </ul>
        </div>
    </div>
</header>
    <footer>
    <div class="navbar-fixed-bottom">
    <small>@L'adresse de Votre Banque</small>
    </div>
    </footer>
</body>
</html>
